*{
    margin: 0;
    border: 0;
    padding: 0;

}

header{
    display: flex;
    justify-content: space-between;
}

/*--- setinha ---*/
i.ph-triangle{
    display: inline-block;
    transform: rotate(90deg);
    transition: 0.3s ease;
}

i.ph-triangle.rotate{
    transform: rotate(180deg);
}



/*--- Dropdow menu ---*/
.top-menu-icons {
    display: none;
}

.top-menu-icons.show {
    display: block;
}



/* -------- dropdown tradução --------- */
.lang-dropdown {
    display: none;
}

.lang-dropdown.show {
    display: block;
}
